@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #a6a9b3;
}

#root {

  --backgroundColor:#0D0714;
  --inputColor:#777777;
  --headColor:#ffffff;
  --taskColor:#9E78CF;
  --doneTaskColor:#78CFB0;
  --backgroundCardColor:#1D1825;
  --borderRadius: 10px;


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: var(--backgroundColor);
  gap: 14px;

}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

header input {
  flex: 1;
  outline: none;
  width: 100%;
  padding: 9px;
  border: 1px solid var(--taskColor);
}

header button {
  background-color: var(--taskColor);
  transition-duration: 200ms;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

header button:hover {
  opacity: 0.7;
}

header button,
header input {
  border-radius: var(--borderRadius);
  
  outline: none;
  
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  padding: 23px;
  border-radius: 10px;
  background: white;
}

.todoItem .taskButtons{
  display: flex;
  flex-flow: row;
  gap: 16px;
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}



@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}