@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #777777;
}

#root {

  --backgroundColor:#0D0714;
  --inputColor:#777777;
  --headColor:#ffffff;
  --taskColor:#9E78CF;
  --doneTaskColor:#78CFB0;
  --backgroundCardColor:#1D1825;
  --inputColorBack:#15101C;

  --borderRadius: 10px;
  --gap: 16px;
  


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: var(--backgroundColor);
  gap: var(--gap);

}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_card{
  margin: 0 auto;
  max-width: 800px;
  padding: 50px 65px;
  width: 100%;
  background-color: var(--backgroundCardColor);
  border-radius: 20px;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  gap: var(--gap);
  
}


header input {
  flex: 1;
  outline: none;
  width: 100%;
  padding: 11px;
  border: 1px solid var(--taskColor);
  background-color: transparent;
  color: var(--inputColor);
}

header button {
  background-color: var(--taskColor);
  transition: all .5s;
  transform: scale(1);
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

header button:hover {
  
  transform: scale(1.2);
}

header button,
header input {
  border-radius: var(--borderRadius);
  outline: none;
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  
}

.main h4{
  margin-top: 59px;
  color: var(--headColor);
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  padding: 23px;
  border-radius: var(--borderRadius);
  background-color: var(--inputColorBack);
  animation: fadeIn 0.5s ease-out; /* Apply the fade-in animation */
}

.todoItem .taskButtons{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}
.todoItem .taskButtons button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  cursor: pointer;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  transition: all .5s;
  transform: scale(1);
}

.taskButtons button:hover{
  transform: scale(1.2);
}


.todoItem p {
  flex: 1;
  color: var(--taskColor);
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}

.main_done{
  margin-top: 60px;
  display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.main_done h4{
  color: var(--headColor);
}
.todoItemDone p{
  color: var(--doneTaskColor);
  text-decoration: line-through;
}



@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}

@media (max-width:500px) {
  .main_card{
    padding:20px 30px ;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Optionally use a slight vertical shift */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}